.timeline {
  /* padding: 20px; */
  margin-top: 4em;
}

.horizontal {
  border-top: 2px dashed #ccc6c6;
}

.vertical {
  border-left: 2px dashed #ccc6c6;
  height: 200px !important;
  width: 20%;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #099487;
}

html {
  font-family: sans-serif;
}

body {
  width: 100%;
}

.header {
  height: 100vh;
  min-height: 100vh;
  padding: 0 8%;
  background-image: url(./static/images/background-lg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

h1 {
  margin: 0em 0 0 0;
  font-size: 36px;
  letter-spacing: 0.08em;
  word-spacing: 0.2em;
}

@media only screen and (max-height: 500px) {
  .landing-container {
    height: 500px !important;
  }
}

@media only screen and (max-height: 700px) {
  .header {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    background-image: url(./static/images/background-lg.svg);
  }
  .timeline-sm-div {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    background-image: url(./static/images/background-md.svg);
  }
  .timeline-sm-div {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    background-image: url(./static/images/background-sm.svg);
  }
  .landing-content {
    width: 50% !important;
  }
  .timeline-sm-div {
    display: none;
  }
}

/* @media only screen and (max-width: 950px) {
  .header {
    background-image: url(./static/images/background-sm2.svg);
  }
} */

@media only screen and (max-width: 850px) {
  .header {
    background-image: url(./static/images/background-xs.svg);
  }
  .landing-content {
    width: 50% !important;
  }
  .timeline-sm-div {
    display: block;
  }
  .timeline-div {
    display: none;
  }
}

@media only screen and (max-width: 556px) {
  .header {
    background-image: url(./static/images/background-mobile.svg);
    height: 1100px;
    background-position: bottom left;
  }
  .landing-content {
    margin-top: 0em !important;
    width: 100% !important;
    text-align: left;
  }
  .header-nav-container {
    height: 150px !important;
  }
  .landing-container {
    height: 300px !important;
  }
  .timeline-div {
    display: none;
  }
  .timeline-sm-div {
    display: block;
  }
}

.coder-img {
  float: right;
  width: 35vw;
}

/* Timeline CSs */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#breadcrumbs-two {
  overflow: hidden;
}

#breadcrumbs-two li {
  float: left;
  margin: 0 0.5em 0 1em;
  list-style: none;
  width: 100%;
  text-align: center;
  color: #fff !important;
}

#breadcrumbs-two li {
  background: #ddd;
  padding: 0.7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative;
}

#breadcrumbs-two li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two li::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

.li-second {
  background-color: #4ad0c7 !important;
}
.li-second::before {
  border-color: #4ad0c7 #4ad0c7 #4ad0c7 transparent !important;
}
.li-second::after {
  border-color: transparent transparent transparent #4ad0c7 !important;
}

.li-third {
  background-color: #5cdec9 !important;
}
.li-third::before {
  border-color: #5cdec9 #5cdec9 #5cdec9 transparent !important;
}
.li-third::after {
  border-color: transparent transparent transparent #5cdec9 !important;
}

.li-fourth {
  background-color: #49ebd1 !important;
}
.li-fourth::before {
  border-color: #49ebd1 #49ebd1 #49ebd1 transparent !important;
}
.li-fourth::after {
  border-color: transparent transparent transparent #49ebd1 !important;
}

.li-fifth {
  background-color: #72f4df !important;
}
.li-fifth::before {
  border-color: #72f4df #72f4df #72f4df transparent !important;
}
.li-fifth::after {
  border-color: transparent transparent transparent #72f4df !important;
}

.li-first {
  background-color: #3bb5ae !important;
}
.li-first::before {
  border-color: #3bb5ae #3bb5ae #3bb5ae transparent !important;
}
.li-first::after {
  border-color: transparent transparent transparent #3bb5ae !important;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover {
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before {
  content: normal;
}

/* End*/

.timeline-box {
  margin: 20px 5px;
  border-radius: 5px;
  width: 100%;
  word-wrap: break-word;
  border: 1px solid #e7f8f8;
  border-radius: 7px;
}

.tim-heading {
  background-color: #e7f8f8;
  border-radius: 7px 7px 0px 0px;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 10px;
  /* text-align: center; */
}

.tim-content {
  font-size: 0.9em;
  font-weight: 500;
  margin: 4px 0px;
  padding-left: 10px;
  opacity: 90%;
}
.tim-content-sub {
  margin: 4px 0px;
  font-size: 0.8em;
  font-weight: 500;
  opacity: 70%;
  padding-left: 10px;
}

.tim-caption {
  margin: 10px 0px;
  font-size: 0.8em;
  padding-left: 10px;
}

.timeline-caption {
  text-align: center;
  padding: 20px;
}

.timeline-icon {
  text-align: center;
  padding: 20px;
}

.header-nav {
  padding: 2em 0;
}

.contact-btn {
  font-size: 1.1em;
  text-decoration: none;
  background-color: #08aca3;
  border-radius: 7px;
  color: #ffffff;
  padding: 8px 30px 8px 20px;
  font-weight: 600;
}

.contact-btn:hover {
  transition: 0.15s ease-in;
  background-color: #4ad0c7;
}

.contact-btn-txt {
  color: #ffffff;
  margin-left: 0.5em;
}

/* .animate-h1 h1 {
  animation: type 2s steps(23);
  overflow: hidden;
  white-space: nowrap;
  width: 23ch;
} */

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 23ch;
  }
}

.grd-skill-heading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 40px;
}

.grd-skill-content {
  font-size: 1em;
  text-align: center;
  padding: 0 40px 40px 40px;
}

.skill-item {
  padding: 20px 0px;
  text-align: center;
}

.dot {
  height: 0.5em;
  width: 0.5em;
  margin-top: -4px;
  background-color: #08aca3;
  border-radius: 50%;
  display: inline-block;
}
.footer-container {
  height: 20vh;
  font-size: 0.9em;
  /* background-image: linear-gradient(
    to right,
    #6fb3b8,
    #8dc4c7,
    #abd5d7,
    #c7e7e7,
    #e4f8f8
  ); */
  background-color: #d6f4f2;
}
.skills-window {
  /* background-image: url(./static/images/window.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto; */
}
.skills-left {
}

.skills-right {
  /* background-color: #e4f8f8; */
  padding: 50px;
  background-color: #def8f3;
  border-radius: 12px;
  height: min-content;
  border-top: 25px solid lightgrey;
  border-right: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
  border-left: 5px solid lightgrey;
}

.panel-icons {
  position: absolute;
  top: 0;
  right: 0;
}
