.timeline {
  /* padding: 20px; */
  margin-top: 4em;
}

.horizontal {
  border-top: 2px dashed #ccc6c6;
}

.vertical {
  border-left: 2px dashed #ccc6c6;
  height: 200px !important;
  width: 20%;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #099487;
}

html {
  font-family: brandon-grotesque, sans-serif;
}

body {
  width: 100%;
}

.header {
  height: 100vh;
  min-height: 100vh;
  padding: 0 8%;
  background-image: url(./static/images/background-lg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

h1 {
  margin: 0em 0 0 0;
  font-size: 36px;
}

@media only screen and (max-height: 700px) {
  .header {
    height: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    background-image: url(./static/images/background-md.svg);
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    background-image: url(./static/images/background-sm.svg);
  }
}

/* @media only screen and (max-width: 950px) {
  .header {
    background-image: url(./static/images/background-sm2.svg);
  }
} */

@media only screen and (max-width: 850px) {
  .header {
    background-image: url(./static/images/background-xs.svg);
  }
}

@media only screen and (max-width: 556px) {
  .header {
    background-image: url(./static/images/background-mobile.svg);
    height: 950px;
    background-position: bottom left;
  }
  .landing-content {
    margin-top: 0em !important;
    width: 100% !important;
    text-align: left;
  }
}

.coder-img {
  float: right;
  width: 35vw;
}

/* Timeline CSs */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#breadcrumbs-two {
  overflow: hidden;
}

#breadcrumbs-two li {
  float: left;
  margin: 0 0.5em 0 1em;
  list-style: none;
  width: 100%;
  text-align: center;
  color: #fff !important;
}

#breadcrumbs-two li {
  background: #ddd;
  padding: 0.7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative;
}

#breadcrumbs-two li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two li::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

.li-second {
  background-color: #4ad0c7 !important;
}
.li-second::before {
  border-color: #4ad0c7 #4ad0c7 #4ad0c7 transparent !important;
}
.li-second::after {
  border-color: transparent transparent transparent #4ad0c7 !important;
}

.li-third {
  background-color: #5cdec9 !important;
}
.li-third::before {
  border-color: #5cdec9 #5cdec9 #5cdec9 transparent !important;
}
.li-third::after {
  border-color: transparent transparent transparent #5cdec9 !important;
}

.li-fourth {
  background-color: #49ebd1 !important;
}
.li-fourth::before {
  border-color: #49ebd1 #49ebd1 #49ebd1 transparent !important;
}
.li-fourth::after {
  border-color: transparent transparent transparent #49ebd1 !important;
}

.li-fifth {
  background-color: #72f4df !important;
}
.li-fifth::before {
  border-color: #72f4df #72f4df #72f4df transparent !important;
}
.li-fifth::after {
  border-color: transparent transparent transparent #72f4df !important;
}

.li-first {
  background-color: #3bb5ae !important;
}
.li-first::before {
  border-color: #3bb5ae #3bb5ae #3bb5ae transparent !important;
}
.li-first::after {
  border-color: transparent transparent transparent #3bb5ae !important;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover {
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before {
  content: normal;
}

/* End*/

.timeline-box {
  margin: 20px 5px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 10px;
  word-wrap: break-word;
}

.tim-heading {
  background-color: yellow;
}

.timeline-caption {
  text-align: center;
  padding: 20px;
}

.timeline-icon {
  text-align: center;
  padding: 20px;
}

.header-nav {
  padding: 2em 0;
}

.contact-btn {
  font-size: 1.1em;
  text-decoration: none;
  background-color: #08aca3;
  border-radius: 12px;
  color: #ffffff;
  padding: 8px 30px 8px 20px;
  font-weight: 600;
}

.contact-btn:hover {
  transition: 0.15s ease-in;
  background-color: #4ad0c7;
}

.contact-btn-txt {
  color: #ffffff;
  margin-left: 0.5em;
}

.animate-h1 h1 {
  animation: type 2s steps(23);
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 1px solid #08aca3; */
  width: 23ch;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 23ch;
  }
}
