.timeline {
  margin-top: 2em;
  padding-top: 4em;
  background-color: #fbfcfc;
  padding-bottom: 4em;
}

.horizontal {
  border-top: 2px dashed #ccc6c6;
}

.vertical {
  border-left: 2px dashed #ccc6c6;
  height: 200px !important;
  width: 20%;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #099487;
}

html {
  font-family: sans-serif;
}

body {
  width: 100%;
}

.header {
  height: 100vh;
  min-height: 100vh;
  padding: 0 8%;
  background-image: url(./static/images/background-lg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

h1 {
  margin: 0em 0 0 0;
  font-size: 36px;
  letter-spacing: 0.08em;
  word-spacing: 0.2em;
}

@media only screen and (max-height: 700px) {
  .landing-container {
    height: 500px !important;
  }
}

@media only screen and (max-height: 700px) {
  .header {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    background-image: url(./static/images/background-lg.svg);
  }
  .timeline-sm-div {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    background-image: url(./static/images/background-md.svg);
  }
  .timeline-sm-div {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    background-image: url(./static/images/background-sm.svg);
  }
  .landing-content {
    width: 50% !important;
  }
  .timeline-sm-div {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .header {
    background-image: url(./static/images/background-xs.svg);
  }
  .landing-content {
    width: 50% !important;
  }
  .timeline-sm-div {
    display: block;
  }
  .timeline-div {
    display: none;
  }
  .skills-left {
    display: none;
  }
}

@media only screen and (max-width: 556px) {
  .header {
    background-image: url(./static/images/background-mobile.svg);
    height: 1000px;
    background-position: bottom left;
  }
  .landing-content {
    margin-top: 0em !important;
    width: 100% !important;
    text-align: left;
  }
  .header-nav-container {
    height: 150px !important;
  }
  .landing-container {
    height: 300px !important;
  }
  .timeline-div {
    display: none;
  }
  .timeline-sm-div {
    display: block;
  }
  .skills-left {
    display: none;
  }
  .skills-right {
    padding: 10px !important;
  }
}

.coder-img {
  float: right;
  width: 35vw;
}

/* Timeline CSs */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#breadcrumbs-two {
  overflow: hidden;
}

#breadcrumbs-two li {
  float: left;
  margin: 0 0.5em 0 1em;
  list-style: none;
  width: 100%;
  text-align: center;
  color: #fff !important;
}

#breadcrumbs-two li {
  background: #ddd;
  padding: 0.7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative;
}

#breadcrumbs-two li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two li::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

.li-second {
  background-color: #4ad0c7 !important;
}
.li-second::before {
  border-color: #4ad0c7 #4ad0c7 #4ad0c7 transparent !important;
}
.li-second::after {
  border-color: transparent transparent transparent #4ad0c7 !important;
}

.li-third {
  background-color: #5cdec9 !important;
}
.li-third::before {
  border-color: #5cdec9 #5cdec9 #5cdec9 transparent !important;
}
.li-third::after {
  border-color: transparent transparent transparent #5cdec9 !important;
}

.li-fourth {
  background-color: #49ebd1 !important;
}
.li-fourth::before {
  border-color: #49ebd1 #49ebd1 #49ebd1 transparent !important;
}
.li-fourth::after {
  border-color: transparent transparent transparent #49ebd1 !important;
}

.li-fifth {
  background-color: #72f4df !important;
}
.li-fifth::before {
  border-color: #72f4df #72f4df #72f4df transparent !important;
}
.li-fifth::after {
  border-color: transparent transparent transparent #72f4df !important;
}

.li-first {
  background-color: #3bb5ae !important;
}
.li-first::before {
  border-color: #3bb5ae #3bb5ae #3bb5ae transparent !important;
}
.li-first::after {
  border-color: transparent transparent transparent #3bb5ae !important;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover {
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before {
  content: normal;
}

/* End*/

.timeline-box {
  margin: 20px 5px;
  border-radius: 5px;
  width: 100%;
  word-wrap: break-word;
  border: 1px solid #e7f8f8;
  border-radius: 7px;
  background-color: #ffffff;
  padding-bottom: 5px;
}

.tim-heading {
  /* color: #525252; */
  background-color: #e7f8f8;
  border-radius: 7px 7px 0px 0px;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
}

.tim-content {
  /* color: #525252; */
  font-size: 0.9em;
  font-weight: 500;
  margin: 4px 0px;
  padding-left: 10px;
  opacity: 0.9;
  margin-top: 15px;
}
.tim-content-sub {
  color: #525252;
  margin: 4px 0px;
  font-size: 0.8em;
  font-weight: 500;
  opacity: 0.7;
  padding-left: 10px;
  margin-top: 5px;
}

.tim-caption {
  /* color: #525252; */
  margin: 10px 0px;
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 20px;
}

.timeline-caption {
  color: #525252;
  text-align: center;
  padding: 20px;
}

.timeline-icon {
  text-align: center;
  padding: 30px;
}

.header-nav {
  padding: 2em 0;
}

.contact-btn {
  font-size: 1.1em;
  text-decoration: none;
  background-color: #08aca3;
  border-radius: 7px;
  color: #ffffff;
  padding: 8px 30px 8px 20px;
  font-weight: 600;
}

.contact-btn:hover {
  transition: 0.15s ease-in;
  background-color: #4ad0c7;
}

.contact-btn-txt {
  color: #ffffff;
  margin-left: 0.5em;
}

.grd-skill-image-box {
  text-align: center;
  padding: 30px;
}

.grd-skill-image {
  height: 80px;
}

.grd-skill-heading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 40px;
  display: none;
}

.grd-skill-content {
  color: #525252;
  font-size: 1em;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.skill-item {
  margin: 20px 5px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  background-color: #fbfcfc;
  font-size: 0.9em;
  height: 32px;
  font-weight: 500;
}
.skill-item:hover {
  /* background-color: #d5dbdb; */
}
.skill-item-image {
  margin-left: 5px !important;
  height: 2em;
  width: 2em;
}
.skill-item-text {
  color: #525252 !important;
  margin-left: 15px !important;
  opacity: 0.9;
  letter-spacing: 0.05em;
}
.footer-container {
  min-height: 25vh;
  font-size: 0.9em;
  background-color: #d6f4f2;
}

.skills-right {
  padding: 50px;
}
.skills-center-box {
  background-color: #fff;
  border-radius: 0px;
  height: min-content;
  border-top: 8px solid #e5e7e9;
  border-right: 3px solid #e5e7e9;
  border-bottom: 3px solid #e5e7e9;
  border-left: 3px solid #e5e7e9;
}
.panel-icons {
  position: absolute;
  top: 0;
  right: 0;
}
.window-nav {
  background-color: #e5e7e9;
  height: 20px;
}
.dot {
  height: 0.7em;
  width: 0.7em;
  margin-top: -4px;
  background-color: #08aca3;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 5px;
}
.work-header {
  width: 100vw;
  min-height: 100vh;
}
.menu-item {
  font-size: 18px !important;
  font-weight: 500;
  margin-left: 100px !important;
}

.menu-item:hover {
  color: #444;
  cursor: pointer;
}

.active {
  color: #444;
}
.proj-heading {
  font-size: 32px !important;
  color: #535461;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.proj-subheading {
  font-size: 19px !important;
  color: #535461;
  text-align: center;
  font-weight: 500;
  padding: 0px;
  opacity: 0.7;
}

.proj-content {
  font-size: 17px !important;
  color: #535461;
  text-align: center;
  padding: 30px 0px;
}

.git-btn {
  line-height: 30px;
  height: 30px;
  padding: 5px 20px !important;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

.git-btn:hover {
  background-color: #535353;
  cursor: pointer;
}
.contact-container {
  border: 1px solid #c3c3c3;
  /* border-radius: 7px; */
  /* padding: 50px; */
}

.contact-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  /* border-bottom: 1px solid red; */
  /* border-radius: 7px; */
  padding: 40px;
  background-image: linear-gradient(
    to right top,
    #3bb5ae,
    #65c0b5,
    #84ccbd,
    #a1d7c7,
    #bbe2d3
  );
}

.contact-input {
  margin: 20px 0px !important;
  padding: 0px 20px !important;
  font-size: 13px !important;
}

.contact-footer {
  text-align: end;
  padding: 20px;
}
.contact-submit-btn {
  font-size: 13pxem;
  text-decoration: none;
  background-color: #65c0b5;
  border-radius: 4px;
  color: #ffffff !important;
  padding: 5px 20px 5px 20px;
}
.work-header {
  padding: 0 8%;
  width: 100%;
  height: auto;
  background-image: url(./static/images/work-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}
.work-hd-content {
  width: 50%;
  padding: 30px;
  font-family: cursive;
  font-size: 1.1em;
}
.work-hd-heading {
  font-family: cursive;
  font-size: 2em;
  font-weight: 500;
  padding: 30px;
}
.work-hd-image {
  height: 120px;
}
.work-hd-subheading {
  font-size: 1.5em;
  font-weight: 500;
}
.footer-top-content {
  min-height: 75vh;
  padding: 2em 0em;
}
.text-center {
  text-align: center;
}
.footer-heading {
  font-size: 2em;
  font-family: cursive;
  font-weight: 500;
  padding: 30px;
}
.footer-subheading {
  font-size: 1.3em;
  font-family: cursive;
  padding: 0px 30px;
}
.footer-content {
  font-size: 1.1em;
  /* font-family: cursive; */
  padding: 30px;
  color: #525252;
}
.footer-btn {
  padding: 30px;
}
.skills-bottom-container {
  margin-top: 2em;
  padding-top: 4em;
  background-color: #fbfcfc;
  padding-bottom: 4em;
}

/* Menu  */
input {
  display: none;
}

.open {
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: '';
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: '';
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 135, 2, 0.9);
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  padding: 10px 0;
}

.menu ul li a:hover {
  color: #ff8702;
}

.menu ul li:hover {
  background: white;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: '';
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: '';
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}
/* Menu End */
